:root {
    --primary: #f1ce7c;
    --secondary: #dad5d1;
    --background: #181820;
    
}

* {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 360;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    line-height: 1.75;
}

.bold {
    font-weight: 700;
}

html {
    background-color: var(--background);
    color: var(--secondary);
    background-image: url("grid.png");
    background-position: center, center;
    
    height: max-content;
}

.primarycolor {
    color: var(--primary)
}

a {
    text-decoration: inherit;
    color: var(--secondary)
}

a:hover {
    color: var(--primary);
    font-weight: 420;
}



.layout {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}



.nav-options {
    display: flex;
    justify-content: flex-end;
    gap: 2ch;
}

@media only screen and (max-width: 470px) {

    .nav-options {
      gap: 1ch;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-bottom: 2rem;
    }
}

.block {
    margin: auto;
    max-width: 65ch;
}

@media only screen and (max-width: 585px) {

    .block {
        margin: auto;
        max-width: 65ch;
        padding-left: 3px;
        padding-right: 3px;
    }
}