:root {
    --primary: #c69e31;
    --primary-dark: #5d4a14;
    --secondary: #a9acb7;
    --background: #25272b;
    --background-shadow: #0d0e14;
    --hyperlink: #c7c8cc;
}

* {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "width" 100;
}

html {
    background-color: var(--background);
    color: var(--secondary);
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0px;
}


h3 {
    font-size: 20px;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(15, 15, 15, 0.292);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 11px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--hyperlink);
  }

.primary-color {
    color: var(--primary)
}

.bgcolor {
    color: var(--background)
}

.grid-bg {
    /* background-image: url("grid.png"); */
    background-position: center, center;
}

.primarybg {
    background-color: var(--primary);
}

.hyperlink {
    color: var(--hyperlink);
    text-decoration: none;
    border-bottom: 2px dashed var(--primary);
    font-weight: 500;
}

.hyperlink:hover {
    color: var(--primary);
}

.threed-txt {
    font-size: 54px;
    font-weight: 750;
    filter: drop-shadow(1px 1px var(--primary-dark))
        drop-shadow(1px 1px var(--primary-dark))
        drop-shadow(5px 6px 8px var(--background-shadow));
}

.title-txt {
    font-size: 54px;
    font-weight: 750;
    margin-bottom: 5px;
}

.fall-anim {
    animation-name: drop;
    animation-duration: 1s;
    /* animation-delay: 0.5s; */
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    filter: drop-shadow(1px 1px var(--primary-dark))
        drop-shadow(1px 1px var(--primary-dark))
        drop-shadow(5px 6px 8px var(--background-shadow));
    transform: translateY(-500px);
}

.fall-anim:hover {
    animation-name: fly;
    animation-fill-mode: forwards;
    transform: translateY(-90px);
    filter: blur(1px)
        drop-shadow(1px 1px var(--primary-dark))
        drop-shadow(1px 1px var(--primary-dark))
        drop-shadow(4px 5px 5px var(--background-shadow));
    transition: 0.2s;
}

@keyframes drop {
    0% {transform: translateY(-400px);}
    75% {
        transform: translateY(10px);
        filter: blur(1px)
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(4px 5px 5px var(--background-shadow));
    }
    85% {
        transform: translateY(-26px);
        filter: blur(0.5px)
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(4px 5px 5px var(--background-shadow));
    }
    95% {transform: translateY(5px);}
    100% {transform: translateY(0); }
}

.bold-txt {
    font-weight: 650;
    font-size: 40px;
}

.regular-txt {
    font-size: 21px;
}

.small-txt {
    font-size: 16px; 
}

.italic-txt {
    font-style: italic;
}

.layout {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    text-decoration: none;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: var(--background);
}

.nav-options {
    display: flex;
    justify-content: flex-end;
    gap: 3.5ch;
    
}

.nav-btn {
    text-decoration: none;
    color: var(--secondary);
    cursor: pointer;
}

.nav-btn:hover {
    color: var(--primary);
    transition: 0.08s;
}

.block {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    max-width: 71ch;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.transition {
    aspect-ratio: 16/9;
    background-image: url("transition.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(6px 10px 12px var(--background-shadow));
    width: 101%;
    transform: translateX(-0.5%);
}



.heading {
    z-index: 2;
    /* height: 100%; */
}

.heading-txt {
    font-weight: 650;
    font-size: 50px;
    text-align: center;
}


.engraved {
    text-shadow: -1px -1px 3px black,
                 -1px -1.5px color-mix(in srgb, var(--secondary) 20%, black 80%),
                 -1px -1.5px color-mix(in srgb, var(--secondary) 20%, black 80%),
                 -1px -1.5px color-mix(in srgb, var(--secondary) 20%, black 80%),
                 -1px -1.5px color-mix(in srgb, var(--secondary) 20%, black 80%),
                 -1px -1.5px color-mix(in srgb, var(--secondary) 20%, black 80%),
                 -1px -1.5px color-mix(in srgb, var(--secondary) 20%, black 80%);
}


.hero-cards-headings {
    display: flex;
    justify-content: space-between;
    margin-left: 5.6rem;
    margin-right: 5.6rem;
    gap: 2.5rem;
    margin-bottom: -6.5px;
}

.hero-cards-layout {
    display: flex;
    align-items: stretch;
    gap: 2.5rem;
    color: var(--background);
    margin-left: 5rem;
    margin-right: 5rem;
}

.currently-working-on {
    flex: 1;
    background-color: color-mix(in srgb, var(--secondary) 45%, black 55%);
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    filter: drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(1px 1px var(--primary-dark))
            drop-shadow(4px 9px 16px var(--background-shadow));
    border-top: 1px solid color-mix(in srgb, var(--primary) 60%, var(--primary-dark) 40%);
    border-left: 1px solid color-mix(in srgb, var(--primary) 60%, var(--primary-dark) 40%);
    border-bottom: 1px solid color-mix(in srgb, var(--primary) 10%, var(--primary-dark) 90%);
    border-right: 1px solid color-mix(in srgb, var(--primary) 10%, var(--primary-dark) 90%);
}

.other-projects {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* margin-right: 5rem; */
}

.other-project {
    background-color: color-mix(in srgb, var(--secondary) 45%, black 55%);
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    filter: drop-shadow(1px 1px color-mix(in srgb, var(--secondary) 26%, black 74%))
            drop-shadow(1px 1px color-mix(in srgb, var(--secondary) 26%, black 74%))
            drop-shadow(1px 1px color-mix(in srgb, var(--secondary) 26%, black 74%))
            drop-shadow(1px 1px color-mix(in srgb, var(--secondary) 26%, black 74%))
            drop-shadow(1px 1px color-mix(in srgb, var(--secondary) 26%, black 74%))
            drop-shadow(1px 1px color-mix(in srgb, var(--secondary) 26%, black 74%))
            drop-shadow(4px 9px 16px var(--background-shadow));
    border: 1px solid color-mix(in srgb, var(--secondary) 28%, black 72%);

}

.currently-working-on:hover {
    transform: translateY(-4px);
    transition: 0.2s;
}

.other-project:hover {
    transform: translateY(-4px);
    transition: 0.2s;
}

.outline {
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -1px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.working-on {
    font-weight: 600; 
    font-size: 24px;
}

/* for mobiles (portrait mode) */
@media only screen and (max-width: 480px) {
    .block {
        margin-top: -100px;
    }


    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-options {
        gap: 2.5ch;
    }

    .title-txt {
        margin-bottom: 0px;
        margin-top: 36px;
    }

    .transition{
        filter: drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))
        drop-shadow(1.2px 1.4px var(--primary-dark))

        drop-shadow(6px 10px 12px var(--background-shadow));
        width: 110%;
        transform: translateX(-5%);
    }

    .hero-cards-layout {
        flex-direction: column;
        margin-bottom: 0;
    }

    .other-projects {
        flex-direction: column;
        gap: 2.5rem;
    }

    .hero-cards-layout{
        margin-left: 25px;
        margin-right: 26px;
    }

    .working-on {
        font-weight: 600; 
        font-size: 21px;
        text-align: center;
    }

}

/* for tablets */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero-cards-layout {
        flex-direction: column;
        margin-bottom: 0;
    }

    .other-projects {
        flex-direction: column;
        gap: 2.5rem;
    }

    /* .currently-working-on {
        margin-left: 10px;
        margin-right: 10px;
    }
    .other-project {
        margin-left: 10px;
        margin-right: 10px;
    } */
    .hero-cards-layout{
        margin-left: 10px;
        margin-right: 10px;
    }

}

/* for idk */
@media only screen and (min-width: 768px) {

}

/*  */
/* CSS FOR PROJECTS PAGE */
/*  */

.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr;
    grid-auto-rows: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    /* max-width: 100rem; */
    margin-bottom: 120px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 75rem;
    /* margin-top: -5rem; */
}

.grid-item-parent {
    /* min-height: 100%; */
    /*min-width: 100%;
    max-width: 30rem; */
    background-color: color-mix(in srgb, var(--background) 88%, var(--secondary) 12%);
    border: 0.5px solid color-mix(in srgb, var(--background) 82%, var(--secondary) 12%);
    /* border-bottom: 50px solid var(--primary);
    border-left: 10px solid var(--primary);
    border-right: 10px solid var(--primary);
    border-top: 10px solid var(--primary); */
    /* border: 1px solid color-mix(in srgb, #0B0F12 30%, var(--secondary) 70%); */
    border-radius: 6px;
    /* filter: drop-shadow(5px 5px var(--primary-dark)) */
    /* filter: drop-shadow(0 6px color-mix(in srgb, #0B0F12 30%, var(--secondary) 70%)); */
    /* border-bottom: 10px solid color-mix(in srgb, #0B0F12 30%, var(--secondary) 70%); */
    /* box-shadow: 0px 0px 4px color-mix(in srgb, #0B0F12 30%, var(--secondary) 70%); */
    box-shadow: 0px 0px 3px black;
    overflow: hidden;
    align-items: flex-start;
    /* background-color: red; */
    overflow: hidden;
}

.hidden-details {
    font-size: 12px;
    /* color:aqua; */
    height: 0;
    overflow: hidden;
    /* margin: 2%; */
    /* margin-left: 3%; */
    /* margin-right: 3%; */
    margin-left: 2.5%;
    margin-right: 2.5%;
    opacity: 0;
}

.project-hr {
    /* color: var(--secondary); */
    color: color-mix(in srgb, var(--background) 69%, var(--secondary) 31%);
    background: color-mix(in srgb, var(--background) 69%, var(--secondary) 31%);
    border: none;
    height: 2px;
    width: 0%;
    /* margin-left: 0; */
    max-width: 99%;
    border-radius: 50px;
    margin-bottom: -5px;
}

.grid-item-parent:hover {
    border: 1px solid var(--primary);
    /* filter: drop-shadow(0 6px var(--primary)); */
    
    .project-icon {
        width: 0;
        transition: 0.6s;
    }

    .hidden-details {
        overflow: visible;
        opacity: 100%;
        /* margin-bottom: -22px; */
        transition: 1s;
    }

    .project-name {
        color: var(--primary);
        transition: 0.6s;
        font-size: 25px;
        font-weight: 700;
        margin-top: 4%;
    }

    .project-desc {
        font-size: 15px;
        transition: 0.6s;
        font-weight: 600;
        margin-top: 3px;
    }

    .project-hr {
        width: 100%;
        transition: 1s;
    }
}

.grid-item-parent:not(:hover) {
    .project-icon {
        transition: 0.35s ease-out;
    }

    .project-name {
        transition: 0.32s ease-out;
    }
}

.project-icon {
    display: block;
    aspect-ratio: 16/9;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.6%;
    margin-bottom: -15px;
    border-radius: 6px;
    /* margin: 10px; */
    background-color: var(--background);
}

.project-details {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    margin-bottom: -23px;
    /* overflow: hidden; */
    /* background-color: red; */
}

.project-name {
    font-weight: 600;
    font-size: 17px;
    margin-left: 2.5%;
}

.project-desc {
    color: color-mix(in srgb, #0B0F12 20%, var(--secondary) 80%);
    font-size: 12px;
    line-height: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.hidden-project-desc {
    font-weight: 450;
    color: color-mix(in srgb, #0B0F12 21%, var(--secondary) 79%);
    font-size: 14px;
    /* line-height: 5px; */
    line-height: 17px;
}

.project-skills {
    font-weight: 450;
    color: color-mix(in srgb,  var(--background) 21%, var(--secondary) 79%);
    /* font-size: 110%; */
    line-height: 6.5px;
    margin-left: 1px;
}

.project-btn {
    font-size: 81%;
    border: 2.1px solid color-mix(in srgb, var(--hyperlink) 10%, var(--primary) 90%);
    color: color-mix(in srgb, var(--hyperlink) 10%, var(--primary) 90%);
    /* border: 2.1px solid var(--primary);
    color: var(--primary); */
    text-decoration: none;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    /* text-shadow: 0px 0px color-mix(in srgb, #0B0F12 55%, var(--primary) 45%); */
}

.project-btn:hover {
    color: color-mix(in srgb, var(--background) 88%, var(--secondary) 12%);
    background-color: color-mix(in srgb, var(--hyperlink) 10%, var(--primary) 90%);
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

/* for mobiles (portrait mode) */
@media only screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* for tablets */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

}

/* for idk */
@media only screen and (min-width: 768px) {


}
